body {
  margin: 0 !important;
  padding: 0;
  background: rgb(2, 0, 36) !important;
  font-family: "Noto Sans Arabic", sans-serif;
}

/* Container holding the image and the text */
.containerx {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back {
  width: 100%;
  height: auto;
  display: block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
.marq {
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  background-color: rgb(2, 0, 36);
  color: white;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.marq marquee {
  width: 80%;
  height: 50px;
  behavior: alternate;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
}
marquee a {
  margin-left: 25px;
  width: 30%;
  text-align: center;
  padding: 20px;
  color: white;
  display: inline-block;
  font-weight: bold;
  font-style: 20px;
}

.loader {
  display: block;
  position: relative;
  height: 32px;
  width: 200px;
  background: #fff;
  border: 2px solid #fff;

  overflow: hidden;
  color: white;
}
.loader.active {
  content: "";
  background: rgb(47, 4, 4);
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 60%;
  transition: 0.5s ease;
  line-height: 1.8;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  color: rgb(0, 255, 255);
  mix-blend-mode: difference;
  transition: 0.5s ease;
}
.calc {
  width: 100%;
  margin: 80px auto;
}

/* ss */
.carousel-inner img {
  width: 100%;
  height: 100%;
  position: relative;
}
.carousel-inner span {
  width: 53%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 26%;
  z-index: 14;
  top: 32%;
  background-color: #cccccc6b;
  border-radius: 7px;
  color: white;
  font-weight: 800;

  padding: 10px;
  margin-bottom: 10px;
}
.t1 {
  top: 42% !important;
}
.navbar {
  border: 2px solid wheat;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  background-color: transparent !important;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand,
.navbar-light .navbar-toggler-icon {
  color: wheat !important;
}
