body {
  margin: 0 !important;
  padding: 0;
  background: rgb(2, 0, 36);
  overflow: hidden;
}

/* Container holding the image and the text */
.containerx {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back {
  width: 100%;
  height: auto;
  display: block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.loader {
  display: block;
  position: relative;
  height: 32px;
  width: 200px;
  background: #fff;
  border: 2px solid #fff;

  overflow: hidden;
  color: white;
}
.loader.active {
  content: "";
  background: rgb(47, 4, 4);
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 120%;
  transition: 0.5s ease;
  line-height: 1.8;
  text-align: center;
  font-weight: bold;
}
.loader:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  color: rgb(0, 255, 255);
  mix-blend-mode: difference;
  transition: 0.5s ease;
}
